.review-form-container {
  position: relative;
  width: 400px;
  color: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.review-form-container .start-widget input {
  display: none;
}

.start-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  flex-direction: row;
  text-align:right;
  transition: all 0.2s ease;
}

/* .start-widget input:not(:checked) ~ label:hover,
.start-widget input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
} */

.start-widget .hovered,
.start-widget .checked ~ label {
  color: #fd4;
}

.start-widget.all-checked {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

/* input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
} */

/* .review-form-container form {
  display: none;
} */

.review-form-container .text {
  font-size: 22px;
  color: #666;
  font-weight: 500;
}

.review-form-container .edit {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

/* input:checked ~ form {
  display: block;
} */

form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2 ease;
}

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

form .btn button:hover {
  background: #1b1b1b;
}

/* .review-form-container .post {
  display: none;
} */